body{
	font-family: Verdana;
	font-size: 1em;
}

#scores {
	width: 50%;
}

.thisSpinner {
	width: 25px;
}

td {
	text-align: center;
}

#app {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;

}
/*
* {
	border: solid 1px black;
}
*/
#radio {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	text-align: center;
}

#scores {
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	width: 60%;
}

#table {
	margin-right: auto;
	margin-left: auto;
	width: 60%;
}

footer {
	background: #dcdcdc;/*#f8f8ff;*/
	font-size: .5em;
	width: 100%;
	text-align: center;
	border-radius: 5px;
}

td.abilityName {
	text-align: left;
}